<%= form_for(container) do |f| %>
  <% if container.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(container.errors.count, "error") %> prohibited this container from being saved:</h2>

      <ul>
      <% container.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="name-field">
    <div class="col-sm-3">
      <%= f.label :name %>
    </div>
    <div class="col-sm-9">
      <%= f.text_field :name %>
    </div>
  </div>



  <div class="description-field">
    <div class="col-sm-3">
      <%= f.label :description %>
    </div>
    <div class="col-sm-9">
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="parent-field">
    <div class="col-sm-3">
      <%= f.label :parent_id %>
    </div>
    <div class="col-sm-9">
      <%= f.number_field :parent_id %>
    </div>
  </div>

  <div class="actions">
    <div class="col-sm-3">
      <%= f.submit class: "btn btn-success btn-lg" %>
    </div>
  </div>

  <br>
<% end %>
