<div class="col-lg-8 col-lg-offset-2">
  <p>
    <strong>Name:</strong>
    <%= @container.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @container.description %>
  </p>

  <p>
    <strong>Parent:</strong>
    <% unless @container.parent.exists? %>
        <p> No parent container! </p>
    <% end %>
    <%= @container.parent.try!(:name) %>
  </p>
  <span>
    <%= link_to 'Back To Containers', containers_path, class: "btn btn-success btn-lg" %>
  </span>
  <span>
    <%= link_to 'Edit Container', edit_container_path(@container), class: "btn btn-success btn-lg" %>
  </span>
</div>