<div class="col-lg-8 col-lg-offset-2">
  <p>
    <strong>Name:</strong>
    <%= @container.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @container.description %>
  </p>

  <p>
    <strong>Parent:</strong>
    <% if !@container.parent %>
        No parent container!
    <% else %>
        <%= @container.parent.try!(:name) %>
    <% end %>
  </p>
  <p>
    <strong>Items In This Container:</strong>
    <% if @container.items.count == 0 %>
      No items yet!
    <% else %>
      <%= render partial: '/items/table', locals: { items: @container.items } %>
    <% end %>
  </p>

  <p>
    <strong>Image:</strong>
    <% if @container.image %>
      <%= image_tag(@container.image_url.to_s) %>
    <% else %>
      No image to display!
    <% end %>
  </p>
  <span>
    <%= link_to 'Add Items', items_path(container_id: @container.id), class: "btn btn-success btn-lg" %>
  </span>
  <span>
    <%= link_to 'Back To Containers', containers_path, class: "btn btn-success btn-lg" %>
  </span>
  <span>
    <%= link_to 'Edit Container', edit_container_path(@container), class: "btn btn-success btn-lg" %>
  </span>
</div>
