<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @container.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @container.description %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @container.parent_id %>
</p>

<p>
  <strong>Lft:</strong>
  <%= @container.lft %>
</p>

<p>
  <strong>Rgt:</strong>
  <%= @container.rgt %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @container.depth %>
</p>

<p>
  <strong>User:</strong>
  <%= @container.user_id %>
</p>

<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
