<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Crapper Keeper - Keep Your Crap In Control</title>

</head>

<body id="page-top">

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <%= link_to "Crapper Keeper", root_path, {class: "navbar-brand page-scroll"}%>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Containers", containers_path %>
          </li>
          <% if current_user %>
          <li>
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          </li>
          <% end %>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <header>
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading">Crapper Keeper</h1>
        <h3 id="header-tagline">Keep Your Crap In Order</h3>
        <hr>
        <p>This app is for people who have crap.  A lot of crap.</p>
        <p>Keep track of your crap by logging in where you put things so you can find it later!</p>
        <br>
        <% if current_user %>
            Welcome <strong><%= current_user.name %></strong>!
        <% end %>
      </div>
    </div>
  </header>

  <section class="sign_in_section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <div id="user-widget">
            <% if current_user %>
                <!-- TODO: get rid of showing user name before publishing -->
                <div id="add_some_crap">
                  <h3><%= link_to "Add Some Crap!", containers_path, class: "btn btn-success btn-lg" %></h3>
                </div>
            <% else %>
                <h3 class="large-font-sign-in">
                  <%= link_to "Sign in with Facebook",
                              "/auth/facebook", id: "sign_in",
                              class: "btn btn-primary btn-lg" %></h3>
                              <br>
                <h3 class="large-font-sign-in">
                  <%= link_to "Sign in with Github",
                              "/auth/github", id: "sign_in",
                              class: "btn btn-primary btn-lg" %></h3>
            <% end %>
          </div>

          <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>

        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="contact_info">Let's Get In Touch!</h2>
          <hr class="primary">
          <span class="glyphicon glyphicon-envelope"></span>
          <span><a href="mailto:regina.imhoff@gmail.com">regina.imhoff@gmail.com</a></span>
          <br>
          <span class="glyphicon glyphicon-education"></span>
          <span><a href="mailto:imhoffr@oregonstate.edu">imhoffr@oregonstate.edu</a></span>
          <br>
          <p>This site was made by <a href="http://www.reginaimhoff.com">Regina Imhoff</a></p>
        </div>
      </div>
    </div>
  </section>



</body>
