<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="name-field">
    <div class="col-sm-3">
      <%= f.label :name %>
    </div>
    <div class="col-sm-9">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="description-field">
    <div class="col-sm-3">
      <%= f.label :description %>
    </div>
    <div class="col-sm-9">
      <%= f.text_area :description %>
    </div>
  </div>

  <%- containers = Container.all %>
  <div class="container-field">
    <div class="col-sm-3">
      <%= f.label :container %>
    </div>

    <div class="col-sm-9">
      <%= f.select :container_id, containers.collect { |c| [ c.name, c.id, ] }, {}, { "data-live-search" => true, }%>
    </div>
  </div>

  <div class="field">
    <%= f.label :count %>
    <%= f.number_field :count %>
  </div>

  <div class="field">
    <%= f.label :last_used_at %>
    <%= f.datetime_select :last_used_at %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
