<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Container:</strong>
  <%= @item.container.name %>
</p>

<p>
  <strong>Count:</strong>
  <%= @item.count %>
</p>

<p>
  <strong>Last used at:</strong>
  <%= @item.last_used_at %>
</p>

<p>
  <strong>Do you want to be notified when you haven't used this?</strong>
  <%= @item.notification_style %>
<p>

<% unless @item.notification_style == "none" %>
<p>
  <strong>How often do you want to get notifications?</strong>
  <ul>
  <% @item.notification_frequencies.each { |notification_frequency| %>
      <li><%= notification_frequency %></li>
  <% } %>
  </ul>
<p>
<% end %>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
