<!DOCTYPE html>
<html>
  <head>
    <title>CrapperKeeper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="wrapper">
      <div class="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <%= link_to "Containers", containers_path %>
          </li>
        </ul>
      </div> <!-- sidebar wrapper -->
    </div> <!-- wrapper -->

    <div id="user-widget">
      <% if current_user %>
        Welcome <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>

    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= yield %>

  </body>
</html>
